---

import type { NtLink } from "../interfaces/nt-link";

const { tabLinks, current } = Astro.props;
---

<div class="wrapper" data-id="small-tab">

    {
        tabLinks.map( (link:NtLink) => 
            <a href={link.ref} 
            class:list={[
                'dot',
                { 'active': link.ref.includes(current) ? true : false }
            ]}
            aria-label="dot"></a> 
        )
    }

</div>
<style>
    .wrapper{
        display: flex;
        gap: var(--sp-500);
    }
    .dot{
        width: 15px;
        height: 15px;
        border-radius: 999px;
        background-color: hsl(var(--white), 0.17);
    }
    .dot:hover{
        background-color: hsl(var(--white), 0.5);
    }
    .dot.active{
        background-color: hsl(var(--white));
    }
    @media screen and (max-width: 780px) {
        .wrapper{
            gap: var(--sp-200);
        }
        .dot{
            width: 10px;
            height: 10px;
        }
    }
</style>