---
import type { NtLink } from "../interfaces/nt-link";

const { tabLinks, current } = Astro.props;
---

<nav>
    <ul>
        {  
            tabLinks && tabLinks.map((link: NtLink)=>(
            <li class="tab-item">
                <a href={link.ref} class="tab-link">
                    {link.name}
                </a>
                {   
                    link.ref.includes(current)?
                        (<div transition:name="tab-line" class="tab-line white-line" ></div>)
                        :
                        (<div class="tab-line" ></div>)
                }
            </li>
    ))
        }
    </ul>
</nav>

<style>
    ul{
        display: flex;
        gap: var(--sp-400);
    }
     .tab-link{
        color: hsl(var(--light-blue));
        display: flex;
        padding-block: var(--sp-150);
        font-family: var(--ff-secondary);
        font-size: var(--fs-300);
        letter-spacing: 2px;
        text-transform: uppercase   ;
     }
    .tab-item{
        border: none;
        outline: 0;
    }
    .tab-line{
        border-bottom: 3px solid transparent;
        transition: border linear 0.3s;
    }

    .tab-item:has(a:hover) div {
        border-bottom: 3px solid hsl(var(--white), 0.5);
    }
    .white-line{
        border-bottom-color: hsl(var(--white));
    }
    .tab-item:has(.white-line) a{
        color: hsl(var(--white))
    }
    @media screen and (max-width: 540px) {
            /* ul{
                gap: 2rem;
            } */
             .tab-link{
                font-size: 14px;
             }
    }
</style>