---
import { ViewTransitions } from "astro:transitions"
import Header from "../components/Header.astro"

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="stylesheet" href="/css/global.css">
		<meta name="viewport" content="width=device-width" />
		<title>Space tourism website</title>
		<ViewTransitions/>
	</head>
	<body class="background">
		<div class="containers">
			<Header/>
			<main>
				<slot />
			</main>
		</div>
	</body>
</html>
<style is:global>
	body{
		display: flex;
		justify-content: center;
		min-height: 100vh;
	}
	.containers{
		width: 100%;
		max-width: 1440px;
		display: flex;
		flex-direction: column;
	}
	.background{
		position: relative;
	
	}
	.background::before{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		inset: 0;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: -100;
	}
</style>
<style>
	main{
		flex-grow: 2;
		display: flex;
	}
</style>
<script is:inline>
    const setcurrentdot = ()=>{
     const hrefs = document.querySelectorAll('.dot')
     for(let i = 0; i < hrefs.length; ++i){
         if(hrefs[i].getAttribute('href')===window.location.pathname.replace('%20',' ')){
             hrefs[i].classList.add('active');
             
         }
     }
    }
    setcurrentdot();
    document.addEventListener('astro:after-swap',()=>{setcurrentdot()})
 </script>
 <script is:inline>
	const setcurrent = ()=>{
	 const hrefs = document.querySelectorAll('.tab-link')
	 for(let i = 0; i < hrefs.length; ++i){
		 if(hrefs[i].getAttribute('href')===window.location.pathname){
			 const div = hrefs[i].nextElementSibling;
			 div.classList.add('white-line');
		 }
	 }
	}
	setcurrent();
	document.addEventListener('astro:after-swap',()=>{setcurrent()})
 </script>